<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="./static/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

<div class="w3-container w3-teal"><h1>{{ account }}</h1></div>
<div class="w3-panel w3-padding-large">
<div class="button">
    <form method="GET" enctype="multipart/form-data" action="/">
        <input type="submit" value="Home" align = "center"
               style="border-radius:5px; height:25px;">
    </form>
</div>

{% if not isAccountBuyer %}
    {% if isLoggedInAsBuyer %}
        <!-- The query doesn't work in action for some reason
    <div class="button">
        <form method="GET" enctype="multipart/form-data" action="/new_review?user={{ account }}" >
            <input type="submit" value="Write review" size="100"
                   style="border-radius:20px; height:50px; font-size: 150%">
        </form>
    </div>
    -->
         <div class="w3-panel w3-border"><h3 class="w3-text-teal"><a href="/new_review?user={{ account }}">Have feedback? Write a review</a></h3></div>
	<br>
    {% endif %}

    <!--
    <div class="button">
        <form method="GET" enctype="multipart/form-data" action="/reviews?user={{ account }}" >
            <input type="submit" value="See reviews" size="100"
                   style="border-radius:20px; height:50px; font-size: 150%">
        </form>
    </div>
    -->
	<div class="w3-panel w3-border"><h3 class="w3-text-teal"><a href="/reviews?user={{ account }}">See Reviews</a></h3></div>
	<br>

    {% for post in posts %}
		<div class="w3-panel w3-padding-medium">
		<div class="w3-card-4" style="width:40%">
		<img src="./static/img/{{ post.image }}" alt="photo" style="width:100%">
		<div class="w3-container w3-center">
				<h1> {{ post.item }} </h1>
				<p> Offered by <a href="/account?user={{ post.user }}">{{ post.user }} </a></p>
				<p> Price: {{ post.price }} </p>
		</div>
		</div>
		</div>
		
    {% endfor %}
{% else %}
    {% for review in reviews %}
        <div class="content-section">
            <h1> {{ review.item }} </h1>
            <p> Written by <a href="/account?user={{ review.by_user }}">{{ review.by_user }} </a></p>
            <p> Rating: {{ review.rating }}/5 </p>
            <p> {{ review.review }} </p>
        </div>
    {% endfor %}
{% endif %}
</div>
</body>
</html>