<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<div class="w3-container w3-teal"><h1>Write a review for {{ for_user }}</h1></div>

    <form class="w3-container w3-card-4" method="POST" action="/search_results">
        <h2 class="w3-text-teal">Advanced Search</h2>

        <input class="w3-radio" name="criteria" type="radio" value="ingredients" checked=true />
        <label class="w3-text-teal" for="ingredients">Ingredients</label><br>
        <label class="w3-text-teal">Enter the undesired ingredients (comma-separated list):</label>
		<br>
		<input class="w3-input w3-border" id="ingredients" name="ingredients" type="text" size="140" />
		<br>

        <input class="w3-radio" name="criteria" type="radio" value="price" />
        <label class="w3-text-teal" for="price">Price</label><br>
        <label class="w3-text-teal">Enter the desired price range:</label>
        <input class="w3-input w3-border" id="min_price" name="min_price" type=number min=0 step=1 />
        <input class="w3-input w3-border" id="max_price" name="max_price" type=number min=0 step=1 />

        <div class="button"><input type="submit" value="Search"/></div>
		<br><br>
    </form>
</body>
</html>