<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>

<body>
    <h1> Create Account </h1>
    <form method="POST" action="/creating">
        <label>Username:</label>
        <input id="username" name="username" type="text"/>

        <input id="seller" name="account_type" type="radio" value=0 checked=true />
        <label>Seller</label>
        <input id="buyer" name="account_type" type="radio" value=1 />
        <label>Buyer</label>
        <input type="submit"/>
    </form>
</body>
</html>