<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="w3-container w3-teal"><h1> Create Account </h1></div>
    <form class="w3-container w3-card-4" method="POST" action="/creating">
		<h2 class="w3-text-teal">Complete Following Information To Create Account</h2>
        <label class="w3-text-teal">Username:</label>
        <input class="w3-input w3-border" id="username" name="username" type="text"/>
        <br>
        <label class="w3-text-teal">Email:</label>
        <input class="w3-input w3-border" id="email" name="email" type="email"/>
        <br>
        <input class="w3-radio" id="seller" name="account_type" type="radio" value=0 checked=true />
        <label class="w3-text-teal" for="seller">Seller</label>
        <input class="w3-radio" id="buyer" name="account_type" type="radio" value=1 />
        <label class="w3-text-teal" for="buyer">Buyer</label>
        <br><br>
        <div class="button"><input type="submit"/></div>
		<br><br>
    </form>
</body>
</html>