<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./static/main.css">
</head>
<body>

    <h1>Login</h1>
    <form method="POST" action="/logging">
        <label>Username:</label>
        <input id="username" name="username" type="text"/>
        <br>
        <input id="seller" name="account_type" type="radio" value=0 checked=true />
        <label for="seller">Seller</label>
        <input id="buyer" name="account_type" type="radio" value=1 />
        <label for="buyer">Buyer</label>
        <br><br>
        <div class="button"><input type="submit"/></div>
    </form>

</body>
</html>