<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./static/main.css">
</head>
<body>

    <h1>Create New Post</h1>
    <form method="POST" action="/writing_post">
		<br>
		<label for="img">Select Image of Item:</label>
		<input type="file" id="img" name="img" accept="image/*" />
		<br><br>
		
        <label>Item Name:</label>
		<br>
        <input id="item_name" name="item_name" type="text"/>
		<br><br>
		
		<label>Description:</label>
		<br>
		<input id="description" name="description" type="text" size="75" />
		<br><br>
		
		<label>Item Price? </label>
		<input id="price" name="price" type=number min=0 step=0.05 />
		<br><br>
		
		<label>Ingredients:</label>
		<br>
		<input id="ingredients" name="ingredients" type="text" size="75" />
		<br><br>
		
		<label>Location:</label>
		<br>
		<input id="location" name="location" type="text" size="75" />
		<br><br>

        <input id="delivery" name="delivery" type="checkbox" value="1" />
		<label for="delivery"> For Delivery</label><br><br>
		
		<input id="pickup" name="pickup" type="checkbox" value="2" />
		<label for="pickup"> For Pickup</label><br><br>

		<label>Available from (date):</label>
		<input type="date" id="start_date" name="start_date" />
		<br><br>
		
		<label>Available until (date):</label>
		<input type="date" id="end_date" name="end_date" />
		<br><br>
		
        <div class="button"><input type="submit"/></div>
    </form>
</body>
</html>